
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" 
              data-dismiss="modal" aria-hidden="true">
        &times;
      </button>      
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>          
            <th>Mobile No</th>
            <th>Duration</th>
            <th>Call Type</th>
          </tr>
        </thead>
        <% @call_logs.each do |call_log| %>
  <%# msec= location.current_loc_time.to_i if location.current_loc_time%>
          <tbody>
            <tr>
              <td><%= call_log.mobile_number %></td>
              <td><%= Time.at(call_log.call_duration.to_i).utc.strftime("%H:%M:%S") if call_log.call_duration%></td>
              <td><%= call_log.call_type %></td>
            </tr>
          </tbody>
        <%end%>
      </table>
    </div>         
  </div><!-- /.modal-content -->
</div>


<div style="height: 10px;"></div>