<!--  page-wrapper -->
<div id="page-wrapper" >

  <!-- row -->
  <div class="col-lg-12" style="padding-top: 8%">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Browser information</h3>
        <div class="table-responsive">

          <% if user_signed_in? %>       
          <table class="table table-bordered table-striped">
            <tr>
              <td style="width: 5%"><b>No</b></td>
              <td style="width: 45%"><b>Title</b></td>
              <td style="width: 45%"><b>URL</b></td>
            </tr>
            <% @browsers.each_with_index do |brws, i| %>
             <tr>               
              <td style="width: 5%"><%=i%></td>
              <td style="width: 45%"><p style=" word-break:break-all; width:90%;"><%= brws.title %></p></td>
              <td style="width: 45%"><p style=" word-break:break-all; width:90%;"><%= brws.url%></p></td>
            </tr>
            <%end if @browsers%>
          </table>

          <%end%>
        </div>
        <%= will_paginate @browsers ,:class=>"pagination" if @browsers%>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end page-wrapper -->



