
<div id="page-wrapper">
  <div style="height: 50px;">
  </div>
  <!-- row -->
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Contact details</h3>
        <div class="table-responsive">
          <input id="accept" name="accept" type="checkbox" value="" />
          To download just follow this link: <a href="/download/<%=@user_id%>"><i class="fa fa-user fa-fw"></i>Download</a>          
        </div>          
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

