<div class="about row">
  <h2>about <span style="color:#006699;"><strong>us</strong></span></h2>
  <hr/>
  <div class="col-lg-12">
    <div class="para_top">We are a group of Silicon Valley Professionals committed to offer our collective expertise in cutting edge latest technology, software development, usability engineering, ecommerce solutions, software product development to corporations, governments and civic agencies worldwide.</div>
    <div class="para_top"><strong style="color: #478603;">Mission Statement:</strong> To become a global leader in IT services.</div>
    <div class="para_top"><strong style="color: #478603;">Our Business Objectives:</strong> To provide knowledge service solutions to corporations, governments and civic agencies worldwide in a highly efficient, competitive and professional manner. We will seek new challenges in the knowledge economy and strive to excel in every sphere of our activities through ongoing training, education and industry association and thus achieve higher standards through constant upgradation of our knowledge.</div>
    <div class="para_top">Emerging technologies are making it possible for businesses to interact with new and existing customers on an unprecedented scale at an affordable cost.</div>
    <div class="para_top">At <strong style="color: #155791;">CIRCAR CONSULTING</strong> we start with the assumption that customer success is our success. We understand that software services can be expensive. Costs for equipment, servers, routers, bandwidth, and technical expertise can stifle growth and profit. <strong style="color: #155791;">CIRCAR CONSULTING</strong> is your technical partner. We provide you with the technical resources at an affordable cost, which allows you to focus on your business without the technical headaches and overhead. <strong style="color: #155791;">CIRCAR CONSULTING</strong> is committed to customer success.</div>
    <div class="para_top">We do not wish to be your another outsourced vendor (often called me-too company). We will work with you to build a creative partnership so that together we put collaborative efforts to effectively build and maintain systems that work to your advantage.</div>
    <div class="para_top">At our development center, all our Engineers are extremely dedicated and work almost 12 hours a day with one common goal i.e. to develop innovative solutions and provide cost effective services to the enterprise computing marketplace.</div>
    <div class="para_top">We have all the expertise, well-defined project management methodology (conforms to SEI Level 4), excellent quality plan, strategically located in USA, good communication infrastructure with toll free customer support, and most importantly financially sound.</div>
    <div class="para_top">CIRCAR CONSULTING is a division of Japuram Inc.; a California C Corporation founded in 2002. We are also a member of Silicon Valley better business bureau. Our company's foundation is based on <strong style="color: #155791;">SERVICE, QUALITY, COMMITMENT AND MOST IMPORTANTLY TRUST.</strong></div>
    <hr>
  </div>
  <!--<div class="col-lg-12">
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("CHIL.png")%>" width="200" height="100" alt="" />
        </div>
        <p class="para_top">Children are our most valuable Natural Resource and Wealth - Do not neglect their nurturing. They are born for tomorrow. Protect them with great love and care from the hazards of outside world.</p>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("babas.png")%>" width="200" height="188" alt="" />
        </div>
        <p class="para_top">The Internet is absolutely loaded with content and activities that are entertaining and educational for children. Modern kids have access to online and offline resources vastly beyond what their parents can even think and beyond what some grandparents even understand. Parents have enough to worry about without the dangers children face every day on the computer especially on internet. Obnoxious and objectionable materials can be anywhere online and offline. Objectionable materials even through CDs, DVDs or USB flash drives can badly affect the physical and psychological health of a child. Most parents do not have the time or opportunity to sit beside their children throughout the day to closely watch their every activity on computer.</p>
      </div>
      <div class="clear">&nbsp;</div>
    </div>  
    <div class="clearfix">&nbsp;</div> 
    <div class="col-lg-12">    
      <div class="para_top" style="font-weight:bold">The kids can get in to trouble in various ways through the use of computer and internet. Some of the significant ways are as follows</div>
      <hr/>
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("chil1.jpg")%>" width="150" height="145" alt="" /></div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">Nasty Websites :</span> When home video players first came out, the porn industry roared right in to supply porn videos. Likewise, as soon as the Internet population reached critical mass, porn sites popped up like mushrooms. Young kids may encounter these by accident; hormone-crazed teens may seek them out deliberately. Gambling sites, sites promoting drugs or weapons, school cheating sites? There are a lot of places on the Internet your kids shouldn't go.</p>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("spy.png")%>" width="150" height="142" alt="" />
        </div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">Dangerous Contacts :</span> E-mail, instant messaging, and social networking allow your children a rich opportunity to communicate with friends and family even when they're not nearby. It also exposes them to contact from absolutely anyone at all, including people you'd never let near them in person. Pedophiles groom contacts, establishing trust and possibly leading to a disastrous real-world meeting.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("chill2.png")%>" width="150" height="105" alt="" />
        </div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">Internet Overdose :</span> There are reportedly over a trillion Web pages out there. Your child could stay glued to the monitor day and night and never see them all. Staying up all night playing games leaves kids too tired to think in school, and sitting motionless at the computer for hours won't help their physical development or health, either.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("chill3.png")%>" width="150" height="105" alt="" />
        </div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">Cyber-Bullying :</span> It is fun for kids to connect with friends and family through social networking and chat, but this ability has a dark side. Kids can be insulted and bullied online, sometimes the point of feeling suicidal. Unlike physical bullying, parents can't see cyber-bullying when it happens.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("juju.png")%>" width="150" height="167" alt="" />
        </div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">USB Flash drive / CD ROM / DVD ROM :</span> External data storage devices like CD ROM, DVD ROM, USB Flash drives are very much essential and popular media nowadays. Kids are also very much accustomed with these kinds of media. Various obnoxious or objectionable data or materials can readily be accessed through such form which can easily influence the physical and psychological health of a child.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-lg-12">
      <div class="doubleRule">
        <div class="runaround" style="margin-right:5px;">
          <img src="<%#=asset_path("chill4.png")%>" width="200" height="247" alt="" /></div>
        <p class="para_top" ><span style="font-weight:bold; color:#478603;">"Elite Guard"</span> can keep a close watch and can record activities which enable the parents to take precaution against the contents and materials which are unsafe for young audiences while still allowing them to take advantage of the wonderful resources online and offline.</p>
        <p class="para_top" style="margin:8px 0;"><span style="font-weight:bold; color:#478603;">"Elite Guard"</span> provide very specific and detailed knowledge to the parents about the activities of their children on computer and especially with internet. </p>
        <p class="para_top" style="margin:8px 0;"><span style="font-weight:bold; color:#478603;">"Elite Guard"</span> compiles detailed records of your children's computer use, including screenshots, online searches and accessed websites.</p>
        <p class="para_top" style="margin:8px 0;"><span style="font-weight:bold; color:#478603;">"Elite Guard"</span> will capture screenshots and send you emails about all the activities on your child's computer so that you can stay informed, even when you are in office or far away from home.</p>
        <p class="para_top" style="margin:8px 0;"><span style="font-weight:bold; color:#478603;">"Elite Guard"</span> enables the Parents to get the detailed information of the entire activities of the child. The child can be kept unaware about this application. On the basis of the captured data the parents can analyze the activity of the child. This will enable the parents to initiate corrective measures in a specific manner to protect the probable psychological tumult and physical harms in the life of the child towards their healthy growth and bright future.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="clearfix"></div>
  </div>-->
</div>