<script>
  $(".active_button1").removeClass("active");
  $(".dropdown").addClass("active");
</script>
<div class="technology row">
  <h2>Elite Guard for - <span style="color:#006699;">Mobile</span></h2>
  <hr>
  <div class="technology_list">
    <div class="col-md-12 tech_para">
      <div class="col-md-12 tech_para">
        <p class="para_top">Elite Guard is the ideal software to monitor and protect kids from cyber bullying, cyber-crime and ill effects of smartphones in a simple and consistent way. </p>
        <div align="center">
          <a href="<%= asset_path("cyberbulling.JPG") %>"><img src="<%= asset_path("cyberbulling.JPG") %>" alt=""></a>
        </div>
      </div>
      <!--<div class="col-lg-8">
        <div class="product_list">
          <ul>
            <li>1. Elite Guard can keep a close watch and can record activities which enable the parents to take precaution against the contents and materials which are unsafe for young audiences while still allowing them to take advantage of the wonderful resources online and offline.</li>
            <li>2. Elite Guard provides very specific and detailed knowledge to the parents about the activities of their children on computer and especially with the internet.</li>
            <li>3. Elite Guard compiles detailed records of your children's computer use, including screenshots, online searches and accessed websites.</li>
            <li>4. Elite Guard will capture screenshots and send you emails about all the activities on your child's computer so that you can stay informed, even when you are in office or far away from home.</li>
            <li>5. Elite Guard enables the parents to get the detailed information of the entire activities of the child while they are engaged with computer/laptop and also smartphone. The child can be kept unaware of it and on the basis of the captured data, the parents can analyze the entire activities of the child. This will enable the parents to initiate corrective measures in a specific manner to protect the probable psychological tumult and physical harms in their child's life and thus they can ensure their healthy growth and a bright future. </li>
          </ul>
        </div>
      </div>-->
    </div>
    <div class="clearfix"></div>

  </div>
  <div class="technology_list1">
    <div class="col-md-12 tech_para">
      <h4>Key <span style="color:#006699;"><strong>Features :</strong></span></h4>
      <hr>
      <div class="col-md-4 tech_para">
        <img src="<%= asset_path("mobile-portal.png") %>" width="386" height="742" alt=""></div>
      <div class="col-lg-8">
        <p class="para_top"><strong>Text Messages</strong></p>
        <p class="para_top">Sexting is a term that describes text messages that contain explicit language of a sexual nature. Children will be curious about the new information that they are exposed to and might plan to engage in sexual activities. And because of their inexperience, children do not understand the consequences of their actions.</p>
        <p class="para_top"><strong>Multimedia Messenger Services</strong></p>
        <p class="para_top">Elite Guard also lets you monitor multimedia messages sent and received on Android, iPhone and BlackBerry devices. </p>
        <p class="para_top"><strong>Monitor Child or Employee's Mobile Phone Call Information</strong></p>
        <p class="para_top">How much time does your child spend making phone calls with their mobile phone? Who are they calling and when? With Elite Guard smartphone monitoring software you can monitor their phone call information. Find out who they call, when they call, and how much time they spend on each call.</p>
        <p class="para_top"><strong>Monitor Facebook, Twitter and WhatsApp Conversations</strong></p>
        <p class="para_top">Other mobile monitoring software will only give you URLs visited on the default browser and text messages from the app that came with the phone. Elite Guard has extra features that monitor social media messenger apps such as Facebook, Twitter and WhatsApp. Now you get a better picture of all the communication channels your children or employees use on their mobile phones.</p>
        <p class="para_top"><strong>Mobile Phone Contacts</strong></p>
        <p class="para_top">As a parent you have concerns about who your child is contacting with her mobile phone. Perhaps you know about another child that you don't want your child to contact. Or there could be someone he/she is contacting who is a stranger to you. Elite Guard will enable you to view the entire list of contacts of her smartphone. </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

