<script>
  $(".active_button1").removeClass("active");
  $(".dropdown").addClass("active");
</script>

<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="about details row">
      <h2>Elite Guard for - <span style="color:#006688;">computer</span></h2>
      <div class="col-md-4 tech_para">
        <img src="<%= asset_path("gio.png") %>" alt="">
      </div>
      <div class="col-lg-8">
        <div class="product_list">
          <ul>
            <li>Elite Guard is very much effective in a standalone computer</li>
            <li>Elite Guard operates in Background. The child cannot interact with the application directly.</li>
            <li>Elite Guard can track every function that a child opens in his / her computer</li>
            <li>Elite Guard can automatically track any kind of browser information. If a child opens anything in the browser it can track the information instantly</li>
            <li>When a child attaches a device like USB Drive / CD ROM / DVD ROM then Elite Guard also track the same.</li>
            <li>Elite Guard can automatically capture the screen shots from the child's system.</li>
            <li>Elite Guard runs in a standalone computer. All the information regarding the activities of the child from his / her computer will get stored in a hidden and password protected folder after pre scheduled interval. Screen shots will also get stored in folder.</li>
            <li>A separate application for the parents is there in Elite Guard through which parents will be able to get date wise data regarding the usage activities of the child. Parents can delete those data as well according to their requirement.</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <p class="para_top">Customized report regarding the child's activities can also be delivered in a specific e-mail ID. This facility will enable the parents to monitor as well as evaluate the activities and performance of the child from remote locations like from their office.</p>
      </div>
    </div>
  </div>
</div><!-- end main -->
