
<div class="about details row">
  <h2>What is Cyberbullying?</h2>
  <img src="<%= asset_path("det_pic.jpg") %>" alt="" class="img-responsive"/>
  <p class="para_top">Young people are using the Internet more than ever and most have Internet access from home. For many children, the Internet isn't simply a convenient way to research or a fun afterschool activity - it's a big part of their social life. Emailing and chatting with friends are children's most common online activities, after studying and playing games. But like many other social situations, some kids bully other kids online.</p>
  <p class="para_top">Cyber bullying is similar to other types of bullying, except it takes place online and through text messages sent to cell phones. Cyberbullies can be classmates, online acquaintances, and even anonymous users, but most often they do know their victims. </p>
  <p class="para_top">Some examples of ways kids bully online are</p>
  <div class="key-feature">
    <ul>
      <li>Sending someone mean or threatening emails, instant messages, or text messages</li>
      <li>Excluding someone from an instant messenger buddy list or blocking their email for no reason</li>
      <li>Tricking someone into revealing personal or embarrassing information and sending it to others</li>
      <li>Breaking into someone's email or instant message account to send cruel or untrue messages while posing as that person</li>
      <li>Creating websites to make fun of another person such as a classmate or teacher</li>
      <li>Using websites to rate peers as prettiest, ugliest, etc</li>
    </ul>
  </div>
  <p class="para_top">Both boys and girls sometimes bully online and just as in face-to-face bullying, tend to do so in different ways. Boys more commonly bully by sending messages of a sexual nature or by threatening to fight or hurt someone. Girls more often bully by spreading rumors and by sending messages that make fun of someone or exclude others.  They also tell secrets.</p>
  <p class="para_top"><strong>The Effects of Cyberbullying</strong></p>
  <p class="para_top">Victims of cyberbullying may experience many of the same effects as children who are bullied in person, such as a drop in grades, low self-esteem, a change in interests, or depression. However cyberbullying can seem more extreme to its victims because of several factors:</p>
  <div class="key-feature">
    <ul>
      <li>It occurs in the child's home. Being bullied at home can take away the place children feel safer.</li>
      <li>It can be harsher. Often kids say things online that they wouldn't say in person, mainly because they can't see the other person's reaction. </li>
      <li>It can be far reaching. Kids can send emails, making fun of someone to their entire class or school with a few clicks, or post them on a website for the whole world to see.</li>
      <li>It may seem inescapable. It may seem easy to get away from a cyberbully by just getting offline, but for some kids not going online takes away one of the major places they socialize.</li>
      <li></li>
    </ul>
  </div>
  <p class="para_top">Cyberbullying can be a complicated issue, especially for adults who are not as familiar with using the Internet, instant messenger, or chat rooms as kids. But like more typical forms of bullying, it can be prevented when kids know how to protect themselves and parents are available to help.</p>
  <p class="para_top">Source: http://www.ncpc.org</p>
</div>

