<div class="about details row">
  <div class="centersectiontitle">
    <h4 style="font-size:28px;"><span style="color:#006688;">Terms and Condition</span> </h4>
  </div>
  <p class="para_top">This is an agreement between you and <strong>Circar Consulting Services Pvt Ltd</strong>. Before you use <strong>Circar Consulting Services Pvt Ltd</strong> software (the <strong>"Elite guard"</strong>) for the first time, please read this disclaimer and service agreement (the <strong>"agreement"</strong>).</p>
  <p class="para_top">By clicking the "Submit" button on the site or installing our product Elite guard, you acknowledge that you have read and understood, and you agree to be bound by both these Terms of Service, and our product's <strong>Privacy Policy</strong>, If you do not agree to be bound by these Terms of Service and Privacy Policy, you may not use the product Elite guard. If you are entering into these Terms of Service and Privacy Policy on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind such entity to these Terms of Service and Privacy Policy. </p>
  <p class="para_top"><strong>Circar Consulting Services Pvt Ltd OWNS THE DOMAIN NAME</strong> www.eliteguard.in "www.circar.in" and as "www.circarconsulting.com through which it offers its product and services.</p>
  <div class="clearfix">&nbsp;</div>
  <div class="centersectiontitle">
    <h4><span style="color:#006688;">Description of Provided Services</span></h4>
  </div>
  <p class="para_top">Our product Elite guard (Mobile app)   provides tracking and monitoring services of Android based smart phones. The product has the following features;</p>
  <div class="product_list">
    <ul>
      <li>Actual location all the time	i.e. Geo Location</li>
      <li>Contact Details</li>
      <li>Call Log – Dialed, Received & Missed calls </li>
      <li>SMS – Inbox, Sent Items, Drafts</li>
      <li>Browser History</li>
      <li>Image, Video & Audio Files</li>
    </ul>
  </div>
  <p class="para_top">The above features can be accessed online through various display reports on PC, tablets and smartphone. </p>
  <p class="para_top">The storage space and functionality available for your account will be determined by the type of subscription you purchase. The storage space and transmission space is restricted to 500 MB per month to minimize the storage and bandwidth cost as well as your bandwidth charges. </p>
  <div class="clearfix">&nbsp;</div>
  <div class="centersectiontitle">
    <h4><span style="color:#006688;">Your responsibilities</span></h4>
  </div>
  <p class="para_top">You are responsible for all activity under your account. This service cannot be used in a way that is against the law. You also may not use it in a way that harms <strong>Circar Consulting Services Pvt Ltd</strong> or our affiliates, resellers, distributors, service providers and/or suppliers.</p>
  <p class="para_top">You are responsible for all activity occurring under your account(s), user name(s), password(s), or URLs provided or assigned to you, or provided by you to anyone else, which you shall maintain as confidential and not disclose except to permit the use of the site in accordance with this Agreement. </p>
  <p class="para_top">You shall abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the site and the product Elite guard. You agree that any material submitted for use will not contain anything leading to an abusive or unethical use of the Elite guard, the host Server or the company. Abusive and unethical materials and uses include, but are not limited to, pornography, obscenity, nudity, violations of privacy, computer viruses, harassment, any illegal activity, spamming advocacy of an illegal activity, and any infringement policy. </p>
  <p class="para_top">You shall: (i) notify Circar Consulting Services Pvt Ltd. immediately of any unauthorized use, theft or loss of any password or account or the site or the product Elite guard or any other known or suspected breach of security; (ii) report to Circar Consulting Services Pvt Ltd. immediately and use reasonable efforts to stop immediately any copying or distribution of the site or the Elite guard  that is known or suspected by you or your Company; and (iii) not provide false identity information to gain access to, or use, the Site or the Elite guard. </p>
  <div class="clearfix">&nbsp;</div>
  <div class="centersectiontitle">
    <h4><span style="color:#006688;">Billing</span></h4>
  </div>
  <p class="para_top">If you sign up for paid subscription, the payment for the subscription shall be made by such payment methods as shall be communicated to you by Circar Consulting Services Pvt Ltd. Each yearly payment of this fee will grant you one year access to Elite guard subscribed for services and to all data associated to your hosted account. </p>
  <p class="para_top">All charges are non-refundable unless expressly stated otherwise, or otherwise provided by law. No refund will be given for unused portions of your license period. The costs of any returns will be at your expense, unless otherwise provided by law. </p>
  <div class="clearfix">&nbsp;</div>
  <div class="centersectiontitle">
    <h4><span style="color:#006688;">Intellectual Property rights</span></h4>
  </div>
  <p class="para_top"><strong>Circar Consulting Services Pvt Ltd.</strong> owns all right, title and interest in and to the product Elite guard and any part thereof, including all intellectual property rights therein, such as rights for the ownership rights and all intellectual property rights to all software, documentation and work created or completed for the site Elite guard and the product Elite guard.  </p>
  <p class="para_top">You acknowledge and agree that the site Elite guard and the product Elite guard contain proprietary and confidential information, and valuable trade secrets of Circar Consulting Services Pvt Ltd that are protected by applicable intellectual property and other laws. </p>
</div>
